body{
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}

.menu_lateral{
    height: 100vh;
    width: 15vw;
    background-color: #1E1E1E;
}

.container_videos{
    height: 100vh;
    width: 40vw;
}

.container-menu{
    width: 15vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    img{
        width: 80%;
    }
}

.container-botones-central{
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    height: 75vh;
    align-items: center;
}

.btn-Primary{
    margin-top: 20px;
}

.btn {
    border-style: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: #1E1E1E;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width: 13vw;
    text-align: left;
}
.btn:hover {
    background-color: #555555;
}

.btnAjuste {
    border-style: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: #CA4E79;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    /* width: 13vw; */
    width: auto;
    text-align: center;
}

.btnAjuste:hover {
    background-color: #953a5a;
}

i {
    font-size: 1.6rem; /* Ajusta el tamaño del icono */
    margin: 0px 10px;
    /* background-color: rgb(255, 127, 127); */
}

.btnAjuste p{
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}


.btn p{
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: start;
}

.container-config{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(163, 255, 127); */
    height: 10vh;
    align-items: center;
}

.container_anuncios{
    height: 100vh;
    width: 45vw;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cuadro_anuncio{
    height: 80%;
    width: 75%;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    pre{
        /* background-color: pink; */
        width: 90%;
        height: 95%;
        font-family: 'Inter', sans-serif;
        white-space: pre-wrap;  /* Permite que el texto haga salto de línea */
        word-wrap: break-word;  /* Rompe las palabras largas */
    }
}

.menu-exit{
    /* background-color: #3e2c99; */
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-down{
    /* background-color: #2c9966; */
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: row;
}

.container-arrows{
    /* background-color: #992c87 */
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 150px;

    .arrow{
        /* background-color: green; */
        width: 60%;
        img{
            width: 100%;
        }
    }

    .arrow-Down{
        margin-top: 50px;
    }
}

.btnExit {
    border-style: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    margin-right: 10px;
    
    i{
        margin: 2px;
        font-size: 30px;
    }
}

.btnExit:hover {
    background-color: #a2a2a2;
    color: white
}

/* @media (max-width: 1200px) {
    body{
        background-color: red;
    }
} */

.container-shorts{
    /* background-color: #ff8560; */
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videos{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex;
    position: relative;
    flex-direction: column;  /* Organiza los videos verticalmente */
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* Hace que el scroll sea suave */
    overflow-y: scroll;  /* Permite el desplazamiento vertical */
    scroll-snap-type: y mandatory;
    /* background-color: red; */
}

.videos::-webkit-scrollbar {
    display: none;
}

.player {
    scroll-snap-align: start; /* Hace que cada video se alinee al principio del contenedor */
    height: 92vh;
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.video_player {
    width: auto;
    height: 95%;
    /* background-color: gold; */
    object-fit: cover;  /* Ajusta el video para cubrir el contenedor sin distorsión */
}

.persona{
    background-color: rgb(197, 197, 197);
    position: absolute;
    width: auto;
    height: 150px;
    bottom: 10px;
    right: 10px;
    border: 2px solid rgba(0, 0, 0, 0.253);
    border-radius: 10px;
    overflow: hidden; /* Evita que la imagen sobresalga */

    img{
        width: 200px;
        height: auto;
        display: block; /* Elimina espacios blancos indeseados */
    }
}

.menu_movil{
    display: none;
}

@media (max-width: 1200px) {
    body{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .videos{
        background-color: rgb(255, 255, 255);
    }

    .menu_lateral{
        height: 100vh;
        width: 15vw;
        display: none;
    }

    .container-arrows, .container_anuncios, .menu-exit{
        display: none;
    }

    .container_videos{
        width: 100vw;
        height: 92vh;
        /* background-color: aqua; */
    }

    .container-shorts{
        width: 100vw;
        /* background-color: rgb(187, 255, 0); */

    }
    
    .player{
        width: 100vw;
        /* background-color: rgb(187, 0, 255); */
    }

    .menu_movil{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #1E1E1E;
        height: 8vh;
        align-items: center;

        button {
            height: 6vh;
            width: 8vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color:#2e2e2e;
            color: white;
        }

        button:hover{
            background-color:#565656;
            color: white;
        }
    }
    
}